{% block title %}Home{% endblock %}<br>
<a href="/popular"> Популярные вопросы </a><br>
<a href="/ask/"> Задать вопрос </a><br>
<a href="/new"> Новые вопросы </a><br>
{% for quest in questions %}
  <a href="{% url 'question'  quest.id %}"> {{quest.title}} </a><br>
{% endfor %}

<nav><ul class="pagination">
    {% for p in paginator.page_range %}
    {% if p.number == page.number %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="{{ paginator.baseurl }}{{ p }}">
        {{ p }}</a>
</li>
{% endfor %}
</ul></nav>
 