{% extends 'base.html' %}
{% block header	%}
	{%	include	'header.html' %}
{% endblock	%}

{% block title %}Home{% endblock %}<br>

{% block main %}
<main>
  <div class='wrapper'>
    <div id='question_section'>
    {% for question in questions %}
      <div class='question'>
        <h3><a href='{% url 'question' question_id=question.id %}'>{{ question.title }}</a></h3>
				<p>{{ question.author }} | {{ question.added_at|date:'d.m.Y, H:i' }}</p>
      </div>
    {% endfor %}
    </div>
	<nav><ul class="pagination">
		{% for p in paginator.page_range %}
		{% if p.number == page.number %}
		<li class="active">
		{% else %}
		<li>
		{% endif %}
			<a href="{{ paginator.baseurl }}{{ p }}">
			{{ p }}</a>
	</li>
	{% endfor %}
	</ul></nav>
	 
	</div>
</main>

{% endblock	%}
